<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css">
</head>
<div>
    <div th:insert="base :: navpan"></div>
</div>
<body>

<div class="scroll-container">
    <h4>Choose the type of vehicle you are interested in to see our current listings</h4>
    <div class="btn-group" role="group" aria-label="" th:each="category : ${categories}">
        <button type="button" class="btn btn-secondary" th:href="@{/car/bycategory/{id}(id=${category.id})}">[[${category.categoryName}]]</button>
</div>

<div class="car-card-container-fluid">
    <div class="row">
        <div class="col-4 card" style="padding: 0px" th:each="car : ${cars}">
            <div class="card-body">
                <h3 class="card-title" th:inline="text">[[${car.manufacturer}]]</h3>
                <h4 class="card-text" th:inline="text">[[${car.model}]]</h4>
                <h5 th:inline="text">[[${car.year}]]</h5>
                <h6 th:inline="text">[[${car.msrp}]]</h6><br/>
                <p>
                    <a class="btn btn-primary" th:href="@{/car/details/{id}(id=${car.id})}">View</a>
                </p>
            </div>
        </div>


    </div>
</div>
    <div>
        <div th:insert="base :: javascript"></div>
    </div>


</div>
</body>
</html>