<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css">

</head>
<div>
    <div th:insert="base :: navpan"></div>
</div>
<body>

<div class="jumbotron">
    <h1 class="display-4">[[${car.manufacturer}]]</h1>
    <p class="lead">[[${car.model}]]</p>
    <hr class="my-4">
    <p>[[${car.msrp}]]</p>
    <a class="btn btn-primary" th:href="@{/car/update/{id}(id=${car.id})}">Update</a>
    <a class="btn btn-primary" th:href="@{/car/delete/{id}(id=${car.id})}">Delete</a>
</div>




<div>
    <div th:insert="base :: javascript"></div>
</div>

</body>
</html>